BOT_TOKEN=replace_with_new_telegram_bot_token
BOT_CODE_WORDS=додо,код,кодовое слово
FIREBASE_DB_URL=https://temperaturedata-68177-default-rtdb.firebaseio.com/
FIREBASE_DB_AUTH=
FIREBASE_SENSOR_PATH=sensors/esp32
FIREBASE_HISTORY_PATH=history/esp32
PORT=8085
ALERT_MIN_TEMP=22
ALERT_MAX_TEMP=40
ALERT_COOLDOWN=60
